.adm-char-card {
    margin-top: 3rem !important;
    margin-bottom: 5rem !important;
    border: 5px  !important;
    border-radius: 0.1%!important;
    height: 40rem;
    width: 90%;
    box-shadow: 8px 8px 1px 1px rgb(7, 7, 7, 0.7);
}   
.adm-char-card-img {
    border-top-right-radius: 0.1%!important; ;
    border-top-left-radius: 0.1%!important; ;
    object-fit: cover;
    width: 100%;
    height: 12rem;
}

.adm-char-cards-title {
    font-weight: bold!important;
    font-size: 1.2rem!important;  
    margin-top: 1rem;

}

.list-group-item {
    height: 2.5rem;
    text-align: center;
}

.card-text {
    color: grey; 
    font-size: 14px;
}

