#edit-card {
    background-color: #fff;
    width: 95%!important;
    height: 80vh;
    margin-top: 1rem;
    border-color: white;
    padding: 1rem;
}
.update-container {
        background-color: #fff;
        width: 95%!important;
        margin-top: 5rem;
}
#upd-submit {
    border-radius: 0px!important;
    width: 50%!important;
    margin: auto;
}

#inp-box{
    width: 70%!important;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(250,250,250);
    margin: auto;
}