
#btn-adm {
    margin: 1rem!important;
    font-weight: bold!important;
    box-shadow: 5px 5px 1px 1px rgb(7, 7, 7, 0.7);
    border-radius: 0!important;
}

#navlinkbtn {
    color: white!important;
    font-size: 1.2rem;
}

.edit-sct {
    color: gray!important;
    display: inline-block!important;
}